@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --dark-primary: rgba(62, 55, 83, 0.443);
  --dark-secondary: white;
  --dark-accent300: #566276;
  --dark-accent200: #909cb1;
  --dark-accent100: rgb(237, 236, 239);
  --dark-accent150: #cfcece;
}

body {
  background-color: black;
  font-family: "Inter", sans-serif;
}
